	<div class="footerwrapper">
		<div class="wrapper">
			<div class="wrapInner">
				<div class="footerRow1 clearfix">
					<div class="footerBlockWrap">
						<h6 class="footerBlockHeading">Art in your inbox</h6>
						<div class="footerBlockContent">
							<p>Sign up for our newsletter and receive Latest product and offers. No spam promise.</p>
							<div class="newsLetterWrap">
								<input type="text" name="newsLetter">
								<input type="submit" value="Subscribe">
							</div>
						</div>
					</div>
					<div class="footerBlockWrap">
						<h6 class="footerBlockHeading">Customer Care</h6>
						<div class="footerBlockContent">
							<nav class="footerSupportNavigation">
								<ul>
									<li><a href="">Sales</a></li>
									<li><a href="">Payment information</a></li>
									<li><a href="">Refund Policy</a></li>
									<li><a href="">Shipping and Delivery</a></li>
								</ul>
							</nav>
						</div>
					</div>
					<div class="footerBlockWrap">
						<h6 class="footerBlockHeading">Instagram Feed</h6>
						<div class="footerBlockContent">Instagram feed will be display here.</div>
					</div>
				</div>
				<div class="footerRow2 clearfix">
					<div class="footerBlockWrap">
						<h6 class="footerBlockHeading">Shop Arthur Clive</h6>
						<div class="footerBlockContent">
							<nav class="footerMainNavgation">
								<ul>
									<li><a href="">Home</a></li>
									<li><a href="">Women’s</a></li>
									<li><a href="">Men’s</a></li>
									<li><a href="">Girls</a></li>
									<li><a href="">Boys</a></li>
									<li><a href="">Art for Home</a></li>
									<li><a href="">Gift Vouchers</a></li>
									<li><a href="">Clearance</a></li>
								</ul>
							</nav>
						</div>
					</div>
					<div class="footerBlockWrap">
						<h6 class="footerBlockHeading">Safe and Secure payment</h6>
						<div class="footerBlockContent">
							<p>We accept the following</p>
							<ul class="paymentCards">
								<li><i class="fa fa-cc-mastercard"></i></li>
								<li><i class="fa fa-cc-visa"></i></li>
								<li><i class="fa fa-credit-card-alt"></i></li>
							</ul>
							<p><i class="fa fa-lock lockIcon"></i> SSL enabled safe and secure shopping</p>
						</div>
					</div>
					<div class="footerBlockWrap">
						<h6 class="footerBlockHeading">Connect With Us</h6>
						<div class="footerBlockContent">
							<ul class="socialIcons">
								<li><a href=""><i class="fa fa-facebook-official"></i></a></li>
								<li><a href=""><i class="fa fa-twitter-square"></i></a></li>
								<li><a href=""><i class="fa fa-google-plus-square"></i></a></li>
								<li><a href=""><i class="fa fa-instagram"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright">
		<div class="wrapper">
			<div class="wrapInner">&#169; Arthur Clive</div>
		</div>
	</div>
