   <div class="commonPageWrap">
      <div class="wrapper">
        <div class="wrapInner">                  
            <h1 class="titleCommon">ABOUT ARTHUR CLIVE</h1>
            <div class="commonBgLightGray">
               <h2>Arthur Clive</h2>
               <p>
                 M/s Arthur Clive is a startup partnership firm founded in 2016 with its Head office in Kolkata. Trading as “Arthur Clive”.
               </p>
               <p>
                 As the name resonates ‘Courage’ and ‘Elegance’, here we are blending art and fashion that is done differently for a final outcome with a tireless zest for quality, serving a world of art wear enthusiasts without compromise.
               </p>
               <h2>The Team</h2>
               <p>
                 We are a team of perfectionists putting our creative thinking, brand expertise, design skills and passion for quality into each garment that you will love and feel proud to wear.  
               </p>
               <h2>Our Values</h2>
               <p>
                 Our core values are to create vision, inspire people, advance the priorities and build trust in order to further the company’s mission to serve the people. A commitment of doing good for the whole until the customer says “WOW”!
               </p>
            </div>
        </div>
      </div>
    </div>