<div class="sliderWrap">
	<div style="width: 100%; height: 540px;">
		<span style="text-align: center"><carousel [sources]="imageSources"  [config]="config"></carousel></span>
	</div>
</div>
<div class="homePageWrap">
	<div class="wrapper">
		<div class="wrapInner">
			<h1 class="titleCommon">Explore Arthur Clive Collections <span>Authentic Artwear collection designed in London</span></h1>
		</div>
		<div class="categoriesHomeWrapOuter clearfix">
			<category *ngFor="let categoryitem of category" [category]="categoryitem"></category>
		</div>
	</div>
</div>