<div id="mainHeader" class="headertop" [ngClass]="{hideMainHeader: scrolled}">
	<div class="wrapper">
		<div class="navBtn" [ngClass]="{activeNav: menuOpened == true}" (click)="openMenu()"><span></span></div>

		<div class="logo"><a href="#"><img src="../assets/img/logo-caption.png" alt="Artur Clive"></a></div>
		<div class="logoMobile"><a href="#"><img src="../assets/img/logo-arthur-clive-mobile.png" alt="Artur Clive"></a></div>
		<div class="headerBtnWrap">
			<div class="commonIconBtnHeader userIcon popupHoverElement" (click)="LoginRegister()">
				<div id="two" class="popupBox" [hidden]="!this.appState.get('loggedIn')"><a (click)="ChangePassword()">Change Password</a><br><hr><a (click)="SignOutClicked()">Signout</a></div>
			</div>
			<div class="commonIconBtnHeader wishListBtn"><span class="wishlistCount">3</span></div>
			<div class="commonIconBtnHeader shoppingBagBtn">
				<!-- View Bag --><span class="shoppingbagCountItem">5</span></div>
		</div>
	</div>
</div>
<div id="fixedHeader" class="headertop"  *ngIf="scrolled" [ngClass]="{fixedHeaderActive: scrolled, fixedHeader: scrolled}">
	<div class="wrapper">
		<div class="navBtn" [ngClass]="{activeNav: menuOpened == true}" (click)="openMenu()"><span></span></div>
		<div class="logoMobile"><a href="#"><img src="../assets/img/logo-arthur-clive-mobile.png" alt="Artur Clive"></a></div>
		<div class="headerBtnWrap">
			<div class="commonIconBtnHeader userIcon popupHoverElement" (click)="LoginRegister()">
				<div id="two" class="popupBox" [hidden]="!this.appState.get('loggedIn')"><a (click)="ChangePassword()">Change Password</a><hr><a (click)="SignOutClicked()">Signout</a></div>
			</div>
			<div class="commonIconBtnHeader wishListBtn"><span class="wishlistCount">2</span></div>
			<div class="commonIconBtnHeader shoppingBagBtn">
				<!-- View Bag --><span class="shoppingbagCountItem">5</span></div>
		</div>
	</div>
</div>
<div class="navWrapperOuter" *ngIf="menuOpened"  [ngStyle]="{'z-index' : 10, 'position': 'fixed'}" [ngClass]="{navOpened: menuOpened == true, fixednavWrapperOuter: scrolled}">
	<div class="wrapper">
		<div class="wrapInner">
			<nav class="mainNav">
				<ul>
					<li><a href="">Home</a></li>
					<li><a href="">Womens</a></li>
					<li><a href="#">Mens</a></li>
					<li><a href="">Girls</a></li>
					<li><a href="">Boys</a></li>
					<li><a href="">Art for Home</a></li>
					<li><a href="">Artists</a></li>
					<li><a href="">Gift Vouchers</a></li>
					<li><a href="">Clearance</a></li>
					<li><a href="">Contacts</a></li>
				</ul>
			</nav>
			<div class="navBottomSpace"></div>
		</div>
	</div>
</div>