<td class="customtd">
<table>
<td >{{product?.itemIndex + 1 }}</td>
<td class="tdwidth">{{product.productItem?.productFor}}</td>
<td class="tdwidth">{{product.productItem?.productType}}</td>
<td class="tdwidth">{{product.productItem?.productDesign}}</td>
<td class="tdwidth">{{product.productItem?.productSize || "NA"}}</td>
<td>
  <button _ngcontent-c9="" class="btn btn-primary" type="button" (click)="updateClicked()">Update</button>
</td>
<td>
  <button _ngcontent-c9="" class="btn btn-danger" type="button">Delete</button>
</td>
</table>
</td>
<td class="customtd">
<div *ngIf="showUpdate">
<app-product-insert-update [product]="product" (cancelButtonClicked)="cancelClicked($event)"></app-product-insert-update>
</div>
<td>