  <div class="commonPageWrap">
      <div class="wrapper">
        <div class="wrapInner">
          
          <!-- Start My Account HTML Here -->
            
            <h1 class="titleCommon">MY ACCOUNT</h1>

            <div class="acccountBg clearfix">
              <div class="loginBox">
                <h2>I HAVE AN ACCOUNT</h2>
                <div class="loginBoxFormWrap">
                  <div class="formRow">
                    <!-- <span class="error">Please enter your email address</span> -->
                    <input type="Email" name="" placeholder="Email Address*">
                  </div>
                  <div class="formRow">
                    <span class="error">Please enter your password</span>
                    <input type="password" name="" placeholder="Password*" class="error">
                  </div>
                  <div class="formRow">
                    <input type="checkbox" id="RememberMe">
                    <label for="RememberMe">Remember me</label>
                  </div>
                  <div class="formRow">
                    <a href="">Forgotten your password?</a>
                  </div>
                  <div class="formRow">
                    <button type="submit" class="login">LOG IN</button>
                  </div>
                  <div class="formRow">
                    <button type="submit" class="loginFB">LOG IN WITH FACEBOOK <span class="fa fa-facebook-official"></span></button>
                  </div>
                  <div class="formRow">
                    <button type="submit" class="loginGPlus">LOG IN WITH GOOGLE PLUS <span class="fa fa-google-plus"></span></button>
                  </div>
                </div>
              </div>
              <div class="loginBoxContent">
                <h2>CREATE AN ACCOUNT</h2>
                <p>Creating an account will give you access to the following:</p>
                <p>&nbsp;</p>

                <p><strong>Editing of Personal Information: </strong></p>

                <p>Save or change your email address, password or billing address</p>

                <p><strong>Address Book: </strong></p>

                <p>Save your delivery addresses</p>

                <p>Wishlist: Let people know about the items you'd like</p>

                <p><strong>Order History: </strong></p>

                <p>Find your previous orders</p>

                <a [routerLink]="['../createaccount']" class="CreatAcWithEmail">Create an account using your email address</a>

              </div>
            </div>

          <!-- End My Account HTML Here -->

        </div>
      </div>
    </div>