<div class="commonPageWrap">
    <div class="wrapper">
        <div class="wrapInner">

            <h1 class="titleCommon">CREATE AN ACCOUNT</h1>

            <div class="acccountBg">
                <div class="regBox">
                    <div class="formWrap">
                        <div class="formRow singleRow">
                            <!-- <span class="error">Please select your title</span> -->
                            <select name="customer_title">
                      <option value="">Title</option>
                      <option value="Mr">Mr</option>
                      <option value="Mrs">Mrs</option>
                      <option value="Miss">Miss</option>
                      <option value="Ms">Ms</option>
                      <option value="Other">Other</option>
                    </select>
                        </div>
                        <div class="formRow">
                            <span class="error">Please enter your full name</span>
                            <input type="text" name="" placeholder="Full Name*" class="error">
                        </div>
                        <div class="formRow mobileRow">
                            <div class="mobileNumberError"><span class="error">Please enter your mobile number</span></div>
                            <div class="mobileNumberWrap">
                                <div class="cCode">
                                    <input type="text" name="Countrycode" placeholder="+91" disabled="true">
                                </div>
                                <div class="cMobile">
                                    <input type="text" name="" placeholder="Mobile Number*" class="error">
                                </div>
                            </div>
                        </div>
                        <div class="formRow">
                            <!-- <span class="error">Please enter your email address</span> -->
                            <input type="email" name="" placeholder="Email Address(optional)">
                        </div>
                        <div class="formRow">
                            <!-- <span class="error">Please enter your password</span> -->
                            <input type="password" name="" placeholder="Create Password*">
                        </div>
                        <div class="formRow singleRow">
                            <div class="textMsg">We will send you a SMS to verify your phone.</div>
                        </div>
                        <div class="formRow termsRow">
                            <input type="checkbox" id="termsandConditions">
                            <label for="termsandConditions">I agree with</label>
                            <a href="">Terms & Conditions</a>
                        </div>
                        <div class="formRow">
                            <button type="submit" class="createAccount">CREATE AN ACCOUNT</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>