<td class="customtd">
<table>
<td >{{user?.itemIndex + 1 }}</td>
<td class="tdwidth">{{user.userInfo.fullName}}</td>
<td class="tdwidth">{{user.userInfo.phoneNumber}}</td>
<td class="tdwidth">{{user.userInfo.email}}</td>
<td>
  <button _ngcontent-c9="" class="btn btn-primary" type="button" (click)="updateClicked()">View</button>
</td>
</table>
</td>
<td class="customtd">
<div *ngIf="showUpdate">
<app-viewuser [user]="user" (saveButtonClicked)="saveClicked($event)" (cancelButtonClicked)="cancelClicked($event)"></app-viewuser>
</div>
<td>